// vendors
$vendors: "-moz-", "-webkit-", "-o-", "-ms-", ""; 

$primaryColor: #f90;
$textColor: #2F281E;
$linkColor:#212832;
$accentColor: #544837;
$whiteColor: #FFF;
$ftSize: 16px;

// font family
$poppinsFont: 'Poppins';
$rubikFont: 'Rubik';
$openSansFont: 'Open Sans';
$sergoeUIFont: 'Segoe UI';
$helveticaNeueFont: 'Helvetica Neue';
$ariaFont: 'Aria';
$sanSeifFont: sans-serif;
